.slide {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 500px;
    margin: 0 auto;
    background: #bbb;
    /* overflow: hidden; */
  }
  .slide .slide_img {
    display: flex;
    /* justify-content: center;
    align-items: center;*/
    /* float: left; */
    width: 1280px;
    height: 500px;
    /* overflow: hidden; */
  }
  .slide .slide_img li {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* background: url(../images/slide_01_1.jpg) center/100% no-repeat; */
  }
  .slide .slide_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
  }
  .slide .btn {
    position: absolute;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slide .btn li span {
    font-size: 50px;
    margin: 0 20px 0 20px;
    color: #ccc;
    cursor: pointer;
  }
  .swiper-container {
    width: 1280px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    /* display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex; */
    display: flex;
    /* -webkit-box-pack: center; */
    /* -ms-flex-pack: center;
      -webkit-justify-content: center; */
    justify-content: center;
    /* -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center; */
    align-items: center;
  }
  .swiper-slide img {
    width: 100%;
  }